/* General Styles */
.about-wrapper {
  display: grid;
  background-color: white;
}

.content-pic {
  width: 90%;
  margin: 10px auto;
  text-align: center;
}

.responsive-image {
  width: 100%;
  height: auto;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .content-pic {
    height: 250px;
    width: 90%;
    margin: 10px auto;
    text-align: center;
    overflow: hidden;
  }

  .responsive-image {
    width: auto;
    height: 100%;
    object-fit: cover;
    object-position: -100px center;
  }

  .content-quote {
    flex-direction: column;
    align-items: center;
  }

  .content-quote h3 {
    order: 1;
  }

  .content-quote h2 {
    order: 2;
  }
}

/* Quote Styles */
.content-quote {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.content-quote h3 {
  font-size: 20px;
  text-align: left;
  max-width: 40rem;
  margin: 1rem;
}

.content-quote h2 {
  font-size: 24px;
  text-align: right;
  max-width: 15rem;
  margin: 1rem;
  font-weight: normal;
}
