.forecastCard {
    border: solid #A8A6A7 4px;
    border-radius: 15px;
    color: #A8A6A7;
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: 10rem;
    width: 12rem;
    min-width: fit-content;
    justify-content: space-between;
    padding: 5px;
}

.forecastCard--selected {
    border: solid black 4px;
    border-radius: 15px;
    color: black;
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: 10rem;
    width: 12rem;
    min-width: fit-content;
    justify-content: space-between;
    padding: 5px;
}

.forecastCard--selected

.forecastCard:hover {
    background-color: #F5F6F8;
}

.date--container {
    display: flex;
    flex-direction: column;
    gap: 0rem;
    align-items: center;
}

.date--container .day {
    font-size: 2rem;
}
.date--container .month {
    font-size: 1.3rem;
}

.reports {
    display: flex;
    justify-content: space-evenly;
    gap: 0rem;
}

.report--container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.report--container .height{
    padding: 0px;
    margin: 2px;
    padding-top: 3px;
    padding-bottom: 3px;
    width: 4rem;
    border-radius: 5px;
    text-align: center;
    color: white;
    font-size: .7rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 5px;

}


.report--container .height--loading{
    border: none;
    padding: 0px;
    padding-top: 3px;
    padding-bottom: 3px;
    width: 4rem;
    border-radius: 5px;
    background-color: #D1D1D1;
    color: #D1D1D1
}

.report--container .time--loading{
    border-radius: 5px;
    background-color: #D1D1D1;
    color: #D1D1D1;
    margin: 2px;
}

