.forecastCard {
    border: solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: 11rem;
    justify-content: space-between;
    gap: 2rem;
    padding: 5px;
}

.forecastCard:hover {
    background-color: #F5F6F8;
}

.forecastCard .date--container {
    display: flex;
    flex-direction: column;
    gap: .7rem;
    align-items: center;
}

.forecastCard .date--container .day {
    font-size: 3rem;
}
.forecastCard .date--container .month {
    font-size: 1.3rem;
}

.forecastCard .reports {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
}

.forecastCard .report--container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forecastCard .report--container .height{
    border: solid;
    padding: 3px;
    width: 5rem;
    border-radius: 5px;
    text-align: center;
}


.forecastCard .report--container .height--loading{
    border: none;
    padding: 3px;
    width: 5rem;
    border-radius: 5px;
    background-color: #D1D1D1;
    color: #D1D1D1
}

.forecastCard .report--container .time--loading{
    border-radius: 5px;
    background-color: #D1D1D1;
    color: #D1D1D1;
    margin: 2px;
}

