.general--navbar {
    background-color: white;
    margin: 0px;
    width: 20rem;
    height: 100vh;
}

.general--navbar--logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
    padding: 1rem;
    padding-top: 4rem;

}

.general--navbar ul {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: 1.25rem;
    gap: 0rem;
    height: 100%;
    overflow: scroll;
}

.general--navbar li {
    display: flex; 
    align-items: center;
    padding: 1rem;
    gap: 5px;
}

.general--navbar li img {
    height: 1.5rem;
    color: black;
}
.general--navbar .navbar--unselected--item:hover {
    cursor: default;
    background-color: #F5F6F8;
    border-radius: 10px;
    margin-right: 1rem;
}

.navbar--dropdown--spots {
    display: flex;
    flex-direction: column;
    font-weight: normal;
    gap: 0px;
    padding-bottom: 0px;
    height: 10rem;
    overflow: scroll;
    margin: 10px;
}

.navbar--dropdown--spots li{
    margin: 1px;
    padding: 5px;
    margin-left: 2rem;
}

.navbar--dropdown--spots li:hover{
    cursor: default;
    background-color: #F5F6F8;
    border-radius: 5px;
}

.navbar--dropdown--cams {
    display: flex;
    flex-direction: column;
    font-weight: normal;
    gap: 0px;
    padding-bottom: 0px;
    height: fit-content;
    overflow: scroll;
    margin: 10px;
}

.navbar--dropdown--cams li{
    margin: 1px;
    padding: 5px;
    margin-left: 2rem;
}

.navbar--selected--item {
    cursor: default;
    color: white;
    background-color: black;
    border-radius: 10px;
    margin-right: 1rem;
}
    
.general--navbar--logout {
    position: absolute;
    bottom: 0px;
    font-weight: normal;
}

.general--navbar--logout:hover {
    cursor: pointer;
}