.spot--forecast {
    background-color: #F5F6F8;
}

.spot--forecast .content {
    gap: 2rem;
    align-items: center;
    margin: 1rem;
    min-width: 30rem;
}

.spot--forecast .hero {
    overflow: hidden;
    background-color: white;
    border-radius: 2rem;
    padding: 1rem;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: 2rem;
}

.spot--forecast .hero--small {
    overflow: hidden;
    background-color: white;
    border-radius: 2rem;
    padding: 1rem;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: 2rem;
    max-width: 30rem
}