.tide--forecast {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-wrap: wrap;
    overflow: scroll;
}

.tide--forecast .info {
    flex-grow: 1;
    display: flex;
    width: fit-content;
}