.navbar--wrapper {
    background-color: white;
    margin: 0px;
    width: 20rem;
    height: 100vh;
}

.navbar--logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
}
.navbar--wrapper ul {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    font-weight: bold;
    font-size: 1.25rem;
}