.general--navbar {
    background-color: white;
    margin: 0px;
    width: 20rem;
    height: 100vh;
}

.general--navbar--logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
    padding: 1rem;
}

.general--navbar ul {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    font-weight: bold;
    font-size: 1.25rem;
}

.general--navbar li:hover {
    cursor: default;
    transition: .1s linear;
    transform: translate(2px);
}