.general--navbar {
    background-color: white;
    margin: 0px;
    width: 20rem;
    height: 100vh;
}

.general--navbar--logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
    padding: 1rem;
    padding-top: 4rem;

}

.general--navbar ul {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: 1.25rem;
    gap: 0rem;
}

.general--navbar li {
    display: flex; 
    align-items: center;
    padding: 1rem;
    gap: 5px;
}

.general--navbar li img {
    height: 1.5rem;
    color: black;
}
.general--navbar .navbar--unselected--item:hover {
    cursor: default;
    background-color: #F5F6F8;
    border-radius: 10px;
    margin-right: 1rem;
}

.navbar--dropdown {
    display: flex;
    flex-direction: column;
    font-weight: normal;
    align-items: flex-start;
    gap: 1rem;
    margin: 0px;
    padding: 1rem;
    padding-bottom: 0px;

}

.navbar--dropdown li{
    margin: 1px;
}

.navbar--selected--item {
    cursor: default;
    color: white;
    background-color: black;
    border-radius: 10px;
    margin-right: 1rem;
}