.spot--header {
    display: flex;
    background-image: url('../../assets/coverPhotos/malibu.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 10rem;
    border-radius: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    background-position-y: bottom;
    color: white;
    align-items: center;
}

.spot--header h1 {
    font-size: 4rem;
    margin-left: 5rem
}