body {
    background-color: #F5F6F8;
    font-family: 'Kumbh Sans', sans-serif;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

/* Reset some default browser styles */
.home--wrapper {
    margin: 0;
    padding: 0;
    border: 0;
  }
  
  /* Apply the box sizing globally */
  .home--wrapper {
    box-sizing: border-box;
  }
  