body {
    background-color:white;
    font-family: 'Kumbh Sans', sans-serif;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

/* Reset some default browser styles */
.home--wrapper {
    margin: 0;
    padding: 0;
    border: 0;
  }
  
/* Apply the box sizing globally */
.home--wrapper {
    box-sizing: border-box;
}

/* Scroll bar styling */

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar-thumb {
    background: #3d3d3d;
}

::-webkit-scrollbar-thumb:hover {
    background: #0a0a0a;
}


  
